<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MemoriseCards</title>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="shortcut icon" type="image/png" href="~/images/playing-card-favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&display=swap" rel="stylesheet">
</head>
<body class="min-h-screen flex flex-col bg-emerald-900">
    @Html.Partial("_Navbar.cshtml");
    <div>
        <img class="fixed top-0 left-0 h-16 m-2" src="~/images/cards-logo.svg" alt="CardMemoryMatrix" />
        <img class="fixed top-0 right-0 h-16 m-2" src="~/images/cards-logo.svg" alt="CardMemoryMatrix" />
        <img class="fixed bottom-0 left-0 h-16 m-2" src="~/images/cards-logo.svg" alt="CardMemoryMatrix" />
        <img class="fixed bottom-0 right-0 h-16 m-2" src="~/images/cards-logo.svg" alt="CardMemoryMatrix" />

        <main role="main" class="flex-grow">
            <div class="flex items-center justify-center h-screen">
                <div>
                    @RenderBody()
                </div>

                <div class="flex items-center justify-center h-screen">
                    <div id="cardMat">
                        <h1 id="titleBanner" class="text-7xl text-zinc-300 text-opacity-75 font-barlow-condensed">CardMemoryMatrix</h1>
                    </div>
                </div>
            </div>

            @Html.Partial("_About.cshtml");

            @Html.Partial("_NewDeckDialog.cshtml");
        </main>
    </div>
    <footer>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
